fastapi
uvicorn
pydantic
torch
librosa
transformers
PyPDF2
scikit-learn
python-multipart
sqlalchemy
pydantic-settings
bcrypt
python-jose[cryptography]
shap
vaderSentiment
joblib
numpy
soundfile
google-genai
